USE [OpenAplLab]
GO
/****** Object:  Table [dbo].[TblSmartHome]    Script Date: 2022-06-11 오전 11:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSmartHome](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DevId] [varchar](10) NOT NULL,
	[CurrTime] [datetime] NOT NULL,
	[Temp] [float] NOT NULL,
	[Humid] [float] NOT NULL,
	[Press] [float] NULL,
 CONSTRAINT [PK_TblSmartHome] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblSmartHome] ON 

INSERT [dbo].[TblSmartHome] ([Id], [DevId], [CurrTime], [Temp], [Humid], [Press]) VALUES (1, N'BED', CAST(N'2022-06-10T10:39:25.710' AS DateTime), 20.8778076, 60.98504, NULL)
INSERT [dbo].[TblSmartHome] ([Id], [DevId], [CurrTime], [Temp], [Humid], [Press]) VALUES (2, N'BED', CAST(N'2022-06-10T10:39:25.710' AS DateTime), 20.8778076, 60.98504, NULL)
INSERT [dbo].[TblSmartHome] ([Id], [DevId], [CurrTime], [Temp], [Humid], [Press]) VALUES (3, N'BATH', CAST(N'2022-06-10T10:39:28.723' AS DateTime), 19.7445927, 45.0616837, NULL)
GO
SET IDENTITY_INSERT [dbo].[TblSmartHome] OFF
GO
