CREATE TABLE [dbo].[Car_member](
	[mem_no] [int] NOT NULL PRIMARY KEY,
	[gender] [nvarchar](50) NOT NULL,
	[age] [tinyint] NOT NULL,
	[addr] [nvarchar](50) NOT NULL,
	[join_date] [date] NOT NULL,
)
GO
INSERT [dbo].[Car_member] ([mem_no], [gender], [age], [addr], [join_date]) VALUES (1000001, N'man', 20, N'Gwangju', CAST(N'2021-01-22' AS Date))
INSERT [dbo].[Car_member] ([mem_no], [gender], [age], [addr], [join_date]) VALUES (1000002, N'women', 28, N'Incheon', CAST(N'2021-02-12' AS Date))
INSERT [dbo].[Car_member] ([mem_no], [gender], [age], [addr], [join_date]) VALUES (1000003, N'women', 38, N'Incheon', CAST(N'2021-01-24' AS Date))
GO
